# Environnement virtuel
.venv/
venv/

# Fichiers de cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de données locale
instance/

# Fichiers liés à Git
.git
.gitignore

# Fichiers de développement
.env
.vscode/
*.log

# Documentation et README
README.md
*.md
